echo numpy > requirements.txt
echo pandas >> requirements.txt
echo scikit-learn >> requirements.txt
echo matplotlib >> requirements.txt
echo jupyter >> requirements.txt
echo pytest >> requirements.txt
